@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = await UserManager.GetUserAsync(User); 
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row text-center">
        <div class="col-md-4" style="margin:0 auto;">
            <label>
                <img id="img-output" class="img-user" src="@user.Picture" title="Picture of you!" style="cursor:pointer;">
                <input asp-for="Picture" id="img-input" type="file" accept="image/*" name="picture" style="display:none;" />
            </label>
            <p style="font-size:12px;margin-top:-15px;">click to change image</p>
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin:0 0 0 auto;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.UserName"></label>
                <input asp-for="Input.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <div class="input-group">
                    <input asp-for="Input.Email" class="form-control" />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Name</label>
                <div class="form-inline">
                    <input asp-for="Input.FirstName" class="form-control" style="width: 45%; margin-right: 10%;" placeholder="First" />
                    <input asp-for="Input.LastName" class="form-control" style="width: 45%;" placeholder="Last" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="(000) 000-0000" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4" style="margin:0 auto 0 0;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" placeholder="City" />
            </div>
            <div class="form-group">
                <label asp-for="Input.State"></label>
                <input asp-for="Input.State" class="form-control" placeholder="State" />
            </div>
            <div class="form-group">
                <label asp-for="Input.ZipCode"></label>
                <input asp-for="Input.ZipCode" class="form-control" placeholder="ZipCode" />
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
</form>